@use "colors" as *;
/* ==========================================================================
[Layouts]
========================================================================== */
html.template,
.html.template {
    .main-layout {
        display: grid;
        grid-template-columns: auto 300px;
        height: 100%;
        > div {
            min-height: 29.666cm;
        }
    }

    /* ==========================================================================
[Widgets]
========================================================================== */
    .widget {
        margin: 0 0 30px 0;
        > h3 {
            position: relative;
            &:before {
                content: "";
                display: block;
                background-color: $orange;
                width: 100%;
                height: 2px;
                margin-bottom: 10px;
            }
            &:after {
                content: "";
                display: block;
                background-color: $orange;
                width: 50px;
                height: 6px;
                position: absolute;
                top: -2px;
                left: 0;
            }
        }
        &.fullname {
            margin: 0;
            span:last-of-type {
                color: $orange;
            }
        }
        &.job_title {
            font-size: 16px;
            margin: 0;
            font-weight: 400;
        }
        &.slogan {
            margin: 0;
            line-height: 1.1;
            margin: 10px 0;
            &:before,
            &:after {
                display: none;
            }
        }
        &.about {
            .about_title {
            }
            .about_content {
                margin-top: 15px;
            }
        }
        &.image {
            img {
                width: 160px;
                height: 160px;
                object-fit: cover;
            }
        }
        &.contacts {
            .contacts {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .contact_item {
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    i {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $orange;
                        width: 32px;
                        height: 32px;
                        border-radius: 32px;
                        svg {
                            width: 32px;
                            color: $wheat;
                        }
                    }
                }
            }
        }
        &.web,
        &.address,
        &.email,
        &.phone {
            padding: 2px 0 2px 0;
            margin: 0 0 5px 0;
            display: block;
        }
        &.skills {
            .skills {
                margin-top: 10px;
                .skill_item {
                    line-height: 1.3;
                    margin-bottom: 3px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 7px;
                        height: 7px;
                        border-radius: 7px;
                        background: $dark_gray;
                        margin-right: 10px;
                    }
                }
            }
        }
        &.languages {
            .languages {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                .language_item {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;
                    > span {
                        min-width: 30px;
                        text-align: right;
                    }
                    .progress {
                        position: relative;
                        margin: 3px 0;
                        background-color: $orange;
                        margin-left: auto;
                        max-width: 100px;
                        flex-grow: 1;
                        > span {
                            background-color: $black;
                            display: block;
                            height: 6px;
                        }
                    }
                }
            }
        }
        &.experiences {
            .experiences {
                margin-top: 10px;
                .experience_item {
                    position: relative;
                    padding-left: 10px;
                    margin-bottom: 15px;
                    &:before,
                    &:after {
                        position: absolute;
                        left: 0;
                        content: "";
                        display: inline-block;
                        width: 6px;
                        background-color: $dark_gray;
                    }
                    &:before {
                        height: 6px;
                        border-radius: 6px;
                        top: 5px;
                    }
                    &:after {
                        width: 2px;
                        left: 2px;
                        height: calc(100% - 20px);
                        top: 18px;
                    }
                    h5 {
                        font-weight: 500;
                        font-style: italic;
                    }
                }
            }
        }
        &.educations {
            .educations {
                margin-top: 10px;
                .education_item {
                    position: relative;
                    padding-left: 10px;
                    margin-bottom: 15px;
                    &:before,
                    &:after {
                        position: absolute;
                        left: 0;
                        content: "";
                        display: inline-block;
                        width: 6px;
                        background-color: $dark_gray;
                    }
                    &:before {
                        height: 6px;
                        border-radius: 6px;
                        top: 5px;
                    }
                    &:after {
                        width: 2px;
                        left: 2px;
                        height: calc(100% - 20px);
                        top: 18px;
                    }
                    .education_degree {
                        font-style: italic;
                    }
                }
            }
        }
        &.socials {
            .socials {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                margin-top: 10px;
                .social_item {
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    > div {
                        display: flex;
                        flex-direction: column;
                    }
                    i {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $orange;
                        width: 32px;
                        height: 32px;
                        border-radius: 32px;
                        svg {
                            width: 14px;
                            color: $wheat;
                            fill: $wheat;
                        }
                    }
                    &.facebook {
                        i {
                            svg {
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
        &.projects {
            .projects {
                margin-top: 10px;
                .project_item {
                    position: relative;
                    margin-bottom: 15px;
                }
            }
        }
        &.certificates {
            .certificates {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .certificate_item {
                    margin-bottom: 15px;
                    .certificate_description {
                        margin: 0;
                    }
                }
            }
        }
        &.references {
            .references {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .reference_item {
                    position: relative;
                    padding-bottom: 5px;
                    border-right: solid 1px rgba($orange, 0.3);
                    .reference_job_title {
                    }
                    .reference_job_phone,
                    .reference_job_email {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                    svg {
                        width: 14px;
                        color: $orange;
                        fill: $orange;
                    }
                    &:nth-child(2n) {
                        border-right: none;
                    }
                }
            }
        }
        &.awards {
            .awards {
                margin-top: 10px;
                .award_item {
                    position: relative;
                    margin-bottom: 15px;
                }
            }
        }
        &.hobby {
            .hobbies {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                margin-top: 10px;
                .hobby_item {
                    display: flex;
                    flex-direction: column;
                    min-width: 50px;
                    align-items: center;
                    gap: 10px;
                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        background-color: $orange;
                        color: $wheat;
                        svg {
                            width: 32px;
                        }
                    }
                    span {
                        font-weight: bold;
                    }
                    &:nth-child(1n) {
                        i {
                            background-color: #42b6a1;
                        }
                    }
                    &:nth-child(2n) {
                        i {
                            background-color: #b8aa3c;
                        }
                    }
                    &:nth-child(3n) {
                        i {
                            background-color: #f17e57;
                        }
                    }
                    &:nth-child(4n) {
                        i {
                            background-color: #e56251;
                        }
                    }
                    &:nth-child(5n) {
                        i {
                            background-color: #e1614d;
                        }
                    }
                }
            }
        }
    }
    /* ==========================================================================
[Sections]
========================================================================== */
    .section.content {
        padding: 30px;
        height: 100%;
    }
    .section.sidebar {
        background: $dark_gray;
        color: $wheat;
        padding: 30px 25px 30px 25px;
        height: 100%;
        * {
            color: $wheat;
        }
        ul {
            li {
                &:before {
                    background: $orange;
                }
            }
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 28px;
        }
        .widget {
            &.fullname {
                margin: 0 0 10px 0;
                font-size: 30px;
            }
            &.job_title {
                margin: 0 0 10px 0;
            }
            &.slogan {
                margin: 0 0 10px 0;
            }
            &.skills {
                .skills {
                    .skill_item {
                        &:before {
                            background: $orange;
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $wheat;
                            > span {
                                background-color: $orange;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    display: flex;
                    flex-direction: column;
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        &:before,
                        &::after {
                            display: none;
                        }
                        padding-left: 0;
                        .education_school {
                            flex-direction: column;
                        }
                    }
                }
            }

            &.experiences {
                .experiences {
                    .experience_item {
                        padding-left: 0;
                        &:before,
                        &::after {
                            display: none;
                        }
                        .experience_position {
                            flex-direction: column;
                        }
                    }
                }
            }
            &.references {
                .references {
                    grid-template-columns: 1fr;
                    .reference_item {
                        border-bottom: solid 1px rgba($wheat, 0.1);
                        border-right: none;
                    }
                }
            }
            &.hobby {
                .hobbies {
                    gap: 10px;
                    flex-direction: column;
                    .hobby_item {
                        min-width: 32px;
                        gap: 10px;
                        flex-direction: row;
                        i {
                            width: 32px;
                            height: 32px;
                            border-radius: 32px;
                            svg {
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
