/* ==========================================================================
[Colors]
========================================================================== */
@use "colors" as *;
html.template,
.html.template {
    /* ==========================================================================
[Layouts]
========================================================================== */
    .top-layout {
        &.has-2-children {
            grid-template-columns: 100px auto;
            display: grid;
            gap: 20px;
            row-gap: 0;
        }
        > * {
            min-width: 0;
        }
        // margin-bottom: 30px;
    }
    .bottom-layout {
        &.has-2-children {
            grid-template-columns: 1fr 1fr;
            display: grid;
            gap: 30px;
            row-gap: 0;
        }
        > * {
            min-width: 0;
        }
        // margin-bottom: 30px;
    }

    .main-layout {
        grid-template-columns: 1fr;
        display: grid;
        gap: 30px;
        row-gap: 0;
        > * {
            min-width: 0;
        }
    }

    .page {
        > * {
            padding: 0 30px 0 30px;
            &:first-child {
                padding: 30px 30px 0 30px;
            }
        }
    }

    /* ==========================================================================
[Widgets]
========================================================================== */
    .widget {
        padding: 5px 0 20px 0;
        .cal-icon {
            &:before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 5px;
                background: url("data:image/svg+xml;utf8,%3Csvg stroke='%232d3e5b' fill='%232d3e5b' stroke-width='0' viewBox='0 0 24 24' height='20px' width='20px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Calendar'%3E%3Cpath d='M18.438,4.954H16.5c0-0.346,0-0.691,0-1.036c0-0.124,0-0.248,0-0.372c0-0.262-0.23-0.512-0.5-0.5 c-0.271,0.012-0.5,0.22-0.5,0.5c0,0.469,0,0.939,0,1.408h-7c0-0.346,0-0.691,0-1.036c0-0.124,0-0.248,0-0.372 c0-0.262-0.23-0.512-0.5-0.5c-0.271,0.012-0.5,0.22-0.5,0.5c0,0.469,0,0.939,0,1.408H5.562c-1.378,0-2.5,1.122-2.5,2.5v11 c0,1.379,1.122,2.5,2.5,2.5h12.875c1.379,0,2.5-1.121,2.5-2.5v-11C20.938,6.076,19.816,4.954,18.438,4.954z M5.562,5.954H7.5 c0,0.073,0,0.147,0,0.22c0,0.124,0,0.248,0,0.372c0,0.262,0.23,0.512,0.5,0.5c0.271-0.012,0.5-0.22,0.5-0.5c0-0.197,0-0.394,0-0.592 h7c0,0.073,0,0.147,0,0.22c0,0.124,0,0.248,0,0.372c0,0.262,0.23,0.512,0.5,0.5c0.271-0.012,0.5-0.22,0.5-0.5 c0-0.197,0-0.394,0-0.592h1.937c0.827,0,1.5,0.673,1.5,1.5v1.584H4.062V7.454C4.062,6.627,4.735,5.954,5.562,5.954z M18.438,19.954 H5.562c-0.827,0-1.5-0.673-1.5-1.5v-8.416h15.875v8.416C19.938,19.281,19.265,19.954,18.438,19.954z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        > h3,
        &.h3 {
            margin: 0 0 5px 0;
            padding: 0;
        }
        &.fullname {
            line-height: 1;
            margin: 0;
        }
        &.job_title {
            line-height: 1;
        }
        &.slogan {
            font-weight: 400;
            font-size: 26px;
            padding: 0;
        }
        &.image {
            figure {
                position: relative;
                display: inline-block;
                width: 100px;
                height: initial;
                aspect-ratio: 1/1;
                max-width: 100%;
                &.radius-5 {
                    &:after {
                        border-radius: 5px;
                    }
                }
                &.radius-9999 {
                    &:after {
                        border-radius: 9999px;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.about {
            p {
                background-color: $ultra_light_gray;
                font-family: "Spectral", serif;
                border-radius: 10px;
                padding: 15px;
                font-size: 15px;
                margin-top: 10px;
            }
        }

        &.contacts {
            .contacts {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                row-gap: 5px;
                .contact_item {
                    h5 {
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;
                        margin: 0;
                        svg {
                            flex-shrink: 0;
                            width: 16px;
                            height: 16px;
                            fill: $blue;
                            color: $blue;
                        }
                    }
                }
            }
        }
        &.web,
        &.address,
        &.email,
        &.phone {
            padding: 0;
            margin: 0 0 5px 0;
            display: block;
        }
        &.skills {
            .skills {
                display: grid;
                grid-template-columns: 1fr;
                gap: 5px;
                margin-top: 10px;
                h4 {
                    margin: 0;
                }
                > * {
                    min-width: 0;
                }
                .skill_item {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .progress {
                        width: 100%;
                        position: relative;
                        background-color: #555;
                        height: 2px;
                        span {
                            display: block;
                            height: 6px;
                            background-color: #555;
                            position: absolute;
                            top: -2px;
                            left: 0;
                        }
                    }
                }
            }
        }

        &.languages {
            .languages {
                display: grid;
                grid-template-columns: 1fr;
                gap: 5px;
                margin-top: 10px;
                > * {
                    min-width: 0;
                }
                .language_item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    gap: 5px;
                    h4 {
                        margin: 0;
                    }
                    .progress-container {
                        width: 55px;
                        .progress {
                            position: relative;
                            span {
                                display: flex;
                                gap: 5px;
                                position: absolute;
                                overflow: hidden;
                                top: 0;
                                left: 0;
                                .dots {
                                    .dot {
                                        background-color: $red;
                                    }
                                }
                                &.percent5,
                                &.percent10,
                                &.percent15 {
                                    width: 0;
                                }
                                &.percent20,
                                &.percent25,
                                &.percent30,
                                &.percent35 {
                                    width: calc(20%);
                                }
                                &.percent40,
                                &.percent45,
                                &.percent50,
                                &.percent55 {
                                    width: calc(40%);
                                }
                                &.percent60,
                                &.percent65,
                                &.percent70,
                                &.percent75 {
                                    width: calc(60%);
                                }
                                &.percent80,
                                &.percent85,
                                &.percent90,
                                &.percent95 {
                                    width: calc(80%);
                                }
                                &.percent100 {
                                    width: calc(100%);
                                }
                            }
                        }
                        .dots {
                            display: inline-flex;
                            gap: 5px;
                            .dot {
                                width: 7px;
                                height: 4px;
                                background: $light_gray;
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }
        }
        &.experiences {
            .experiences {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .experience_item {
                    position: relative;
                    .experience_position {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                    .experience_years {
                        font-size: 16px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        &.educations {
            .educations {
                margin-top: 10px;
                display: grid;
                gap: 10px;
                .education_item {
                    .education_school {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                    .education_years {
                        font-size: 16px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        &.socials {
            .socials {
                margin-top: 10px;
                display: grid;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                row-gap: 10px;
                .social_item {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    h5 {
                        margin: 0;
                    }
                    i {
                        flex-shrink: 0;
                        width: 18px;
                        svg {
                            width: 20px;
                            height: 20px;
                            width: 18px;
                            fill: $blue;
                        }
                        &.facebook {
                            svg {
                                width: 10px;
                            }
                        }
                        &.linkedin {
                            svg {
                                width: 16px;
                            }
                        }
                    }
                    > div {
                        display: flex;
                        flex-direction: column;
                        span {
                            color: $gray;
                        }
                    }
                }
            }
        }
        &.projects {
            .projects {
                margin-top: 10px;
                display: grid;
                gap: 10px;
                .project_item {
                    .project_name {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 5px;
                        .project_year {
                            font-size: 16px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        &.awards {
            .awards {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                .award_item {
                    .award_title {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 5px;
                        .award_year {
                            font-size: 16px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        &.certificates {
            .certificates {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                .certificate_item {
                    .certificate_name {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 5px;
                        .certificate_year {
                            font-size: 16px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        &.hobbies {
            .hobbies {
                margin-top: 10px;
                display: grid;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                row-gap: 10px;
                .hobby_item {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    svg {
                        color: $blue;
                        width: 22px;
                    }
                }
            }
        }
        &.references {
            .references {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .reference_item {
                    .reference_job_phone,
                    .reference_job_email {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                    svg {
                        width: 16px;
                        color: $black;
                        fill: $black;
                    }
                    &:nth-child(2n) {
                        border-right: none;
                    }
                }
            }
        }
    }

    /* ==========================================================================
[Sections]
========================================================================== */

    .section {
        &.header-left,
        &.header-right {
            .widget {
                padding: 0;
                // margin: 0;
            }
        }
        &.footer-left,
        &.footer-right {
            .widget {
                &.references {
                    .references {
                        grid-template-columns: 1fr;
                    }
                }
                &.hobbies {
                    .hobbies {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
                    }
                }
                &.socials {
                    .socials {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
                    }
                }
                &.contacts {
                    .contacts {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 10px;
                    }
                }
            }
        }
        &.content {
            .widget:not(.web, .address, .email, .phone) {
                border-bottom: solid 1px $middle_gray;
                margin-bottom: 10px;
                &:last-child {
                    border: none;
                }
            }
        }
    }
}
