$black: #000000;
$dark_gray: #2c2c2c;
$gray: #444444;
$light_gray: #c6c6c6;
$middle_gray: #e3e3e3;
$background_color: #f2f2f2;
$purple: #4e4ea6;
$blue: #4e85a6;
$green: #72a64e;
$red: #bd4d4d;
$yellow: #fff2d2;
