/* ==========================================================================
[Colors]
========================================================================== */
@use "colors" as *;

$style_dark_bg: #313131;
$style_dark_fr: #282828;
$style_dark_text: #ffffff;
$style_dark_border: #c4c4c4;
$style_dark_accent: #000000;
$style_dark_highlight: #2b2f69;

$style_pink_bg: #ff69b4;
$style_pink_fr: #ffffff;
$style_pink_text: #61212d;
$style_pink_border: #881951;
$style_pink_accent: #fb3a9b;
$style_pink_highlight: #ff57ac;

$style_coffee_bg: #ae7f61;
$style_coffee_fr: #5b341b;
$style_coffee_text: #5a3e2d;
$style_coffee_border: #5a3e2d;
$style_coffee_accent: #863f134d;
$style_coffee_highlight: #ec9b6929;

$style_tennis_bg: #cbe399;
$style_tennis_fr: #8dc16a;
$style_tennis_text: #466233;
$style_tennis_border: #375324;
$style_tennis_accent: #8dc16a4d;
$style_tennis_highlight: #f2ffea52;

$style_cream_bg: #fff39a;
$style_cream_fr: #dfca2c;
$style_cream_text: #2350ab;
$style_cream_border: #224284;
$style_cream_accent: #dfca2c;
$style_cream_accent: #dfca2c4d;
$style_cream_highlight: #ffffff4d;

$style_green_bg: #53ae65;
$style_green_fr: #28933e;
$style_green_text: #1e5129;
$style_green_border: #1b4d26;
$style_green_accent: #1e5129;
$style_green_accent: #1e51291f;
$style_green_highlight: #bde3c54d;

$style_red_bg: #f2003c;
$style_red_fr: #95220b;
$style_red_text: #ffffff;
$style_red_border: #ffffff;
$style_red_accent: #bd0936;
$style_red_accent: #8e052766;
$style_red_highlight: #ff4a773d;

$style_blue_bg: #1e90ff;
$style_blue_fr: #b2cbfb;
$style_blue_text: #191970;
$style_blue_border: #191970;
$style_blue_accent: #0d79e1;
$style_blue_accent: #1919701f;
$style_blue_highlight: #89c3fb3d;

html.template.pdf,
.html.pdf {
    background-color: $background_color;
    body {
        background-color: $background_color;
    }
}

html.template.pdf.dark,
.html.pdf.dark {
    background-color: $style_dark_bg;
    body.dark {
        background-color: $style_dark_bg;
    }
}
body.template.dark,
.body.dark {
    background-color: $style_dark_bg;
    color: $style_dark_text;
    .page {
        background-blend-mode: color-burn;
    }
    a {
        color: $style_dark_text;
        &:before {
            background-color: $style_dark_accent;
        }
    }
    p {
        color: $style_dark_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_dark_text;
    }
    h1 {
        color: $style_dark_border;
    }
    ul li,
    ol li {
        color: $style_dark_text;
        &::marker {
            color: $style_dark_text;
        }
    }
    .page {
        background-color: $style_dark_bg;
        color: $style_dark_text;
        p {
            color: $style_dark_text;
        }
        a {
            color: $style_dark_text;
        }

        .widget {
            &.about {
                color: $style_dark_text;
                p {
                    color: $style_dark_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_dark_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_dark_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_dark_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_dark_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_dark_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_dark_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_dark_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_dark_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_dark_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_dark_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_dark_text;
                            fill: $style_dark_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: hsla(0, 0%, 0%, 0.19);
                }
                a:before {
                    background: $style_dark_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_dark_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.pink,
.html.pdf.pink {
    background-color: $style_pink_bg;
    body.pink {
        background-color: $style_pink_bg;
    }
}
body.template.pink,
.body.pink {
    background-color: $style_pink_bg;
    color: $style_pink_text;
    .page {
        background-blend-mode: multiply;
    }
    a {
        color: $style_pink_text;
        &:before {
            background-color: $style_pink_accent;
        }
    }
    p {
        color: $style_pink_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_pink_text;
    }
    h1 {
        color: $style_pink_border;
    }

    ul li,
    ol li {
        color: $style_pink_text;
        &::marker {
            color: $style_pink_text;
        }
    }
    .page {
        background-color: $style_pink_bg;
        color: $style_pink_text;
        p {
            color: $style_pink_text;
        }
        a {
            color: $style_pink_text;
        }

        .widget {
            &.about {
                color: $style_pink_text;
                p {
                    color: $style_pink_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_pink_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_pink_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_pink_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_pink_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_pink_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_pink_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_pink_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_pink_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_pink_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_pink_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_pink_text;
                            fill: $style_pink_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: rgba(255, 255, 255, 0.08);
                }
                a:before {
                    background: $style_pink_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_pink_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.coffee,
.html.pdf.coffee {
    background-color: $style_coffee_bg;
    body.coffee {
        background-color: $style_coffee_bg;
    }
}
body.template.coffee,
.body.coffee {
    background-color: $style_coffee_bg;
    color: $style_coffee_text;
    .page {
        background-blend-mode: color-burn;
    }
    a {
        color: $style_coffee_text;
        &:before {
            background-color: $style_coffee_accent;
        }
    }
    p {
        color: $style_coffee_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_coffee_text;
    }
    h1 {
        color: $style_coffee_fr;
    }

    ul li,
    ol li {
        color: $style_coffee_text;
        &::marker {
            color: $style_coffee_text;
        }
    }
    .page {
        background-color: $style_coffee_bg;
        color: $style_coffee_text;
        p {
            color: $style_coffee_text;
        }
        a {
            color: $style_coffee_text;
        }

        .widget {
            &.about {
                color: $style_coffee_text;
                p {
                    color: $style_coffee_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_coffee_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_coffee_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_coffee_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_coffee_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_coffee_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_coffee_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_coffee_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_coffee_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_coffee_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_coffee_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_coffee_text;
                            fill: $style_coffee_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: #ae7f614a;
                }
                a:before {
                    background: $style_coffee_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_coffee_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.tennis,
.html.pdf.tennis {
    background-color: $style_tennis_bg;
    body.tennis {
        background-color: $style_tennis_bg;
    }
}
body.template.tennis,
.body.tennis {
    background-color: $style_tennis_bg;
    color: $style_tennis_text;
    .page {
        background-blend-mode: multiply;
    }
    a {
        color: $style_tennis_text;
        &:before {
            background-color: $style_tennis_accent;
        }
    }
    p {
        color: $style_tennis_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_tennis_text;
    }
    h1 {
        color: $style_tennis_border;
    }

    ul li,
    ol li {
        color: $style_tennis_text;
        &::marker {
            color: $style_tennis_text;
        }
    }
    .page {
        background-color: $style_tennis_bg;
        color: $style_tennis_text;
        p {
            color: $style_tennis_text;
        }
        a {
            color: $style_tennis_text;
        }

        .widget {
            &.about {
                color: $style_tennis_text;
                p {
                    color: $style_tennis_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_tennis_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_tennis_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_tennis_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_tennis_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_tennis_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_tennis_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_tennis_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_tennis_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_tennis_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_tennis_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_tennis_text;
                            fill: $style_tennis_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: rgba(255, 255, 255, 0.08);
                }
                a:before {
                    background: $style_tennis_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_tennis_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.cream,
.html.pdf.cream {
    background-color: $style_cream_bg;
    body.cream {
        background-color: $style_cream_bg;
    }
}
body.template.cream,
.body.cream {
    background-color: $style_cream_bg;
    color: $style_cream_text;
    .page {
        background-blend-mode: luminosity;
    }
    a {
        color: $style_cream_text;
        &:before {
            background-color: $style_cream_accent;
        }
    }
    p {
        color: $style_cream_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_cream_text;
    }
    h1 {
        color: $style_cream_border;
    }

    ul li,
    ol li {
        color: $style_cream_text;
        &::marker {
            color: $style_cream_text;
        }
    }
    .page {
        background-color: $style_cream_bg;
        color: $style_cream_text;
        p {
            color: $style_cream_text;
        }
        a {
            color: $style_cream_text;
        }

        .widget {
            &.about {
                color: $style_cream_text;
                p {
                    color: $style_cream_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_cream_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_cream_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_cream_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_cream_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_cream_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_cream_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_cream_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_cream_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_cream_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_cream_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_cream_text;
                            fill: $style_cream_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: #dfca2c33;
                }
                a:before {
                    background: $style_cream_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_cream_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.green,
.html.pdf.green {
    background-color: $style_green_bg;
    body.green {
        background-color: $style_green_bg;
    }
}
body.template.green,
.body.green {
    background-color: $style_green_bg;
    color: $style_green_text;
    .page {
        background-blend-mode: multiply;
    }
    a {
        color: $style_green_text;
        &:before {
            background-color: $style_green_accent;
        }
    }
    p {
        color: $style_green_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_green_text;
    }
    h1 {
        color: $style_green_border;
    }

    ul li,
    ol li {
        color: $style_green_text;
        &::marker {
            color: $style_green_text;
        }
    }
    .page {
        background-color: $style_green_bg;
        color: $style_green_text;
        p {
            color: $style_green_text;
        }
        a {
            color: $style_green_text;
        }

        .widget {
            &.about {
                color: $style_green_text;
                p {
                    color: $style_green_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_green_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_green_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_green_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_green_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_green_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_green_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_green_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_green_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_green_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_green_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_green_text;
                            fill: $style_green_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: #93b79233;
                }
                a:before {
                    background: $style_green_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_green_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.red,
.html.pdf.red {
    background-color: $style_red_bg;
    body.red {
        background-color: $style_red_bg;
    }
}
body.template.red,
.body.red {
    background-color: $style_red_bg;
    color: $style_red_text;
    .page {
        background-blend-mode: multiply;
    }
    a {
        color: $style_red_text;
        &:before {
            background-color: $style_red_accent;
        }
    }
    p {
        color: $style_red_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_red_text;
    }
    h1 {
        color: $style_red_border;
    }

    ul li,
    ol li {
        color: $style_red_text;
        &::marker {
            color: $style_red_text;
        }
    }
    .page {
        background-color: $style_red_bg;
        color: $style_red_text;
        p {
            color: $style_red_text;
        }
        a {
            color: $style_red_text;
        }

        .widget {
            &.about {
                color: $style_red_text;
                p {
                    color: $style_red_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_red_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_red_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_red_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_red_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_red_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_red_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_red_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_red_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_red_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_red_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_red_text;
                            fill: $style_red_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: #95220b1c;
                }
                a:before {
                    background: $style_red_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_red_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html.template.pdf.blue,
.html.pdf.blue {
    background-color: $style_blue_bg;
    body.blue {
        background-color: $style_blue_bg;
    }
}
body.template.blue,
.body.blue {
    background-color: $style_blue_bg;
    color: $style_blue_text;
    .page {
        background-blend-mode: multiply;
    }
    a {
        color: $style_blue_text;
        &:before {
            background-color: $style_blue_accent;
        }
    }
    p {
        color: $style_blue_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_blue_text;
    }
    h1 {
        color: $style_blue_border;
    }

    ul li,
    ol li {
        color: $style_blue_text;
        &::marker {
            color: $style_blue_text;
        }
    }
    .page {
        background-color: $style_blue_bg;
        color: $style_blue_text;
        p {
            color: $style_blue_text;
        }
        a {
            color: $style_blue_text;
        }

        .widget {
            &.about {
                color: $style_blue_text;
                p {
                    color: $style_blue_text;
                }
            }

            &.contacts {
                .contacts {
                    .contact_item {
                        &:before {
                            background-color: $style_blue_accent;
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            svg {
                                fill: $style_blue_text;
                            }
                        }
                        > div {
                            span {
                                color: $style_blue_text;
                            }
                        }
                    }
                }
            }
            &.skills {
                h3:after {
                    content: ":";
                }
                .skills {
                    .skill_item {
                        border-bottom: dashed $style_blue_border 1px;
                    }
                }
            }

            &.languages {
                .languages {
                    .language_item {
                        .dash {
                            border-bottom: dashed $style_blue_border 1px;
                        }
                    }
                }
            }
            &.experiences {
                .experiences {
                    .experience_item {
                        .experience_years {
                            border-bottom: dashed 1px $style_blue_border;
                        }
                    }
                }
            }
            &.educations {
                .educations {
                    .education_item {
                        .education_years {
                            border-bottom: dashed 1px $style_blue_border;
                        }
                    }
                }
            }
            &.projects {
                .projects {
                    .project_item {
                        .project_name {
                            .project_year {
                                border-bottom: dashed 1px $style_blue_border;
                            }
                        }
                    }
                }
            }
            &.awards {
                .awards {
                    .award_item {
                        .award_title {
                            .award_year {
                                border-bottom: dashed 1px $style_blue_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_name {
                            .certificate_year {
                                border-bottom: dashed 1px $style_blue_border;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        svg {
                            color: $style_blue_text;
                            fill: $style_blue_text;
                        }
                    }
                }
            }
        }
        .section {
            &.header-right {
                &:before {
                    background: #46a4ff59;
                }
                a:before {
                    background: $style_blue_highlight;
                }
                .widget {
                    &.contacts {
                        .contacts {
                            .contact_item {
                                &:before {
                                    background-color: $style_blue_highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
