/* ==========================================================================
[Colors]
========================================================================== */
@use "colors" as *;

/* ==========================================================================
[Fonts]
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ==========================================================================
[Helper classes]
========================================================================== */

html.template:not(.builder) {
    div,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    i,
    p {
        &:empty,
        &:empty:before,
        &:empty:after {
            display: none !important;
        }
    }
}
html.template,
.html.template {
    img {
        display: inline;
    }
    ul li {
        list-style-type: disc !important;
    }
    ol li {
        list-style-type: decimal !important;
    }
    a {
        text-decoration: underline;
    }
    .bold,
    .bold span {
        // font-weight: bold;
        font-weight: 900;
    }
    .italic,
    .italic span {
        font-style: italic;
    }
    .underline,
    .underline span {
        text-decoration: underline !important;
    }
    .strikethrough,
    .strikethrough span {
        text-decoration: line-through !important;
    }

    .uppercase,
    .uppercase span {
        text-transform: uppercase;
    }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    figure {
        margin: 0;
    }

    ul,
    ol {
        padding: 0;
        margin: 15px 0 15px 0;
        li {
            list-style-position: inside;
            // display: block;
            // line-height: 1.4;
            &:before {
                margin-right: 10px;
            }
            // font-weight: 400;
        }
    }
    ul li:before {
        // content: "";
        // display: inline-block;
        // width: 7px;
        // height: 7px;
        // border-radius: 7px;
        // flex-shrink: 0;
        // flex-grow: 0;
    }
    ol li:before {
        // content: attr(data-order);
    }

    figure {
        width: 100%;
        margin: 0;
    }

    .has-children {
        &.dash {
            > * {
                &:after {
                    content: " - ";
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
        &.slash {
            > * {
                &:after {
                    content: " / ";
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
        &.comma {
            > * {
                &:after {
                    content: ", ";
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
        &.pipe {
            > * {
                &:after {
                    content: " | ";
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
    }

    /* ==========================================================================
[Typography]
========================================================================== */

    &,
    body {
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 12px;
        line-height: 1.3;
        color: $black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 5px 0;
        line-height: 1.2;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: $black;
    }
    p {
        color: $black;
        &.small {
            font-size: 10px;
        }
    }

    h1 {
        font-size: 67px;
        font-weight: 800;
        font-style: normal;
        line-height: 1;
        margin: 0;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
        // text-transform: uppercase;
    }

    h4 {
        font-family: Montserrat, serif;
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 5px 0;
    }

    h5 {
        font-family: Montserrat, serif;
        font-size: 13px;
    }

    h6 {
        font-family: Montserrat, serif;
        font-size: 11px;
    }

    p {
        margin: 0 0 5px 0;
    }
    a {
        color: $black;
    }
    ul,
    ol {
        padding: 0;
        margin: 15px 0 15px 0;
        li {
            // display: block;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                margin-right: 10px;
            }
        }
    }
    // ul li:before {
    //     content: "";
    //     display: inline-block;
    //     width: 7px;
    //     height: 7px;
    //     border-radius: 7px;
    //     flex-shrink: 0;
    //     flex-grow: 0;
    //     background: $black;
    // }
    // ol li:before {
    //     content: attr(data-order);
    //     font-weight: bold;
    // }

    // .bold,
    // .bold span {
    //     font-weight: bold;
    // }
    // .italic,
    // .italic span {
    //     font-style: italic;
    // }
    // .underline,
    // .underline span {
    //     text-decoration: underline;
    // }
    // .strikethrough,
    // .strikethrough span {
    //     text-decoration: line-through;
    // }

    // .uppercase,
    // .uppercase span {
    //     text-transform: uppercase;
    // }

    // .align-left {
    //     text-align: left;
    // }

    // .align-center {
    //     text-align: center;
    // }

    // .align-right {
    //     text-align: right;
    // }

    // figure {
    //     margin: 0;
    // }

    // ul {
    //     li {
    //         &.align-right {
    //             justify-content: flex-end;
    //         }
    //         &.align-center {
    //             justify-content: center;
    //         }
    //     }
    // }

    // ol {
    //     li {
    //         &.align-right {
    //             justify-content: flex-end;
    //         }
    //         &.align-center {
    //             justify-content: center;
    //         }
    //     }
    // }

    //
    //
    //
    //
    //
    //
    //
    /* ==========================================================================
[Elements]
========================================================================== */
    .css-lines {
        display: block !important;
        width: 200px;
        height: 100px;
        overflow: hidden;
        position: absolute;
        pointer-events: 0;
        z-index: 0;
        i {
            display: block !important;
            width: 300px;
            height: 1px;
            margin-bottom: 15px;
            background-color: $black;
            rotate: 45deg;
            transform-origin: 239px -112px;
        }
    }
    .css-circles {
        display: block !important;
        width: 60px;
        position: absolute;
        pointer-events: 0;
        z-index: 0;
        i {
            display: block !important;
            width: 60px;
            height: 60px;
            border-radius: 60px;
            margin-top: -30px;
            border: solid 1px $black;
        }
        &.circles-1 {
            top: 5%;
            right: -15px;
            right: -25px;
        }
        &.circles-2 {
            bottom: 5%;
            left: -30px;
        }
    }
    .css-lines-1 {
        top: -50px;
        right: -20px;
    }
}
