/* ==========================================================================
[Colors]
========================================================================== */
@use "colors" as *;

$style_dark_bg: #313131;
$style_dark_fr: #282828;
$style_dark_text: #ffffff;
$style_dark_border: #c4c4c4;

$style_pink_bg: #ff69b4;
$style_pink_fr: #ffffff;
$style_pink_text: #61212d;
$style_pink_border: #ee3592;

$style_coffee_bg: #ae7f61;
$style_coffee_fr: #996849;
$style_coffee_text: #5a3e2d;
$style_coffee_border: #ffffff;

$style_tennis_bg: #cbe399;
$style_tennis_fr: #669149;
$style_tennis_text: #466233;
$style_tennis_border: #ffffff;
$style_tennis_blue: #50a8cc;

$style_cream_bg: #fff39a;
$style_cream_fr: #2350ab;
$style_cream_text: #532020;
$style_cream_border: #eee07a;

$style_green_bg: #52865c;
$style_green_fr: #2b6a38;
$style_green_text: #ffffff;
$style_green_border: #498054;
$style_green_dark: #1e5129;

$style_red_bg: #f2003c;
$style_red_fr: #e44d2e;
$style_red_text: #ffffff;
$style_red_border: #b7032f;
$style_red_dark: #711616;

$style_blue_bg: #1e90ff;
$style_blue_fr: #ffffff;
$style_blue_text: #191970;
$style_blue_border: #0d79e1;

html.template.pdf,
.html.pdf {
    background-color: $background_color;
    body {
        background-color: $background_color;
    }
}

html.template.pdf.dark,
.html.pdf.dark {
    background-color: $style_dark_bg;
    body.dark {
        background-color: $style_dark_bg;
    }
}
body.template.dark,
.body.dark {
    background-color: $style_dark_bg;
    color: $style_dark_text;
    a {
        color: $style_dark_text;
    }
    p {
        color: $style_dark_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_dark_text;
    }

    ul li,
    ol li {
        color: $style_dark_text;
        &::marker {
            color: $style_dark_text;
        }
    }
    .page {
        background-color: $style_dark_bg;
        color: $style_dark_text;
        p {
            color: $style_dark_text;
        }
        a {
            color: $style_dark_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_dark_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_dark_border;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_dark_text;
                            span {
                                background-color: $style_dark_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_dark_text;
                            > span {
                                background-color: $style_dark_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_dark_text;
                            svg {
                                color: $style_dark_text;
                                fill: $style_dark_text;
                                stroke: $style_dark_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_dark_text;
                            svg {
                                fill: $style_dark_text;
                                stroke: $style_dark_text;
                                color: $style_dark_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_dark_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_dark_text;
                            fill: $style_dark_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_dark_fr;
                    .hobby_item {
                        color: $style_dark_text;
                        i {
                            color: $style_dark_text;
                            svg {
                                fill: $style_dark_text;
                                stroke: $style_dark_text;
                                color: $style_dark_text;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_dark_fr;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_dark_border;
        }
    }
}

html.template.pdf.pink,
.html.pdf.pink {
    background-color: $style_pink_bg;
    body.pink {
        background-color: $style_pink_bg;
    }
}
body.template.pink,
.body.pink {
    background-color: $style_pink_bg;
    color: $style_pink_text;
    a {
        color: $style_pink_text;
    }
    p {
        color: $style_pink_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_pink_text;
    }

    ul li,
    ol li {
        color: $style_pink_text;
        &::marker {
            color: $style_pink_text;
        }
    }
    .page {
        background-color: $style_pink_bg;
        color: $style_pink_text;
        p {
            color: $style_pink_text;
        }
        a {
            color: $style_pink_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_pink_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_pink_fr;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_pink_text;
                            span {
                                background-color: $style_pink_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_pink_text;
                            > span {
                                background-color: $style_pink_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_pink_text;
                            svg {
                                color: $style_pink_text;
                                fill: $style_pink_text;
                                stroke: $style_pink_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_pink_text;
                            svg {
                                fill: $style_pink_text;
                                stroke: $style_pink_text;
                                color: $style_pink_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_pink_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_pink_text;
                            fill: $style_pink_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_pink_border;
                    .hobby_item {
                        color: $style_pink_fr;
                        i {
                            color: $style_pink_fr;
                            svg {
                                fill: $style_pink_fr;
                                stroke: $style_pink_fr;
                                color: $style_pink_fr;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_pink_border;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_pink_fr;
        }
    }
}

html.template.pdf.coffee,
.html.pdf.coffee {
    background-color: $style_coffee_bg;
    body.coffee {
        background-color: $style_coffee_bg;
    }
}
body.template.coffee,
.body.coffee {
    background-color: $style_coffee_bg;
    color: $style_coffee_text;
    a {
        color: $style_coffee_text;
    }
    p {
        color: $style_coffee_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_coffee_text;
    }

    ul li,
    ol li {
        color: $style_coffee_text;
        &::marker {
            color: $style_coffee_text;
        }
    }
    .page {
        background-color: $style_coffee_bg;
        color: $style_coffee_text;
        p {
            color: $style_coffee_text;
        }
        a {
            color: $style_coffee_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_coffee_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_coffee_border;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_coffee_text;
                            span {
                                background-color: $style_coffee_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_coffee_text;
                            > span {
                                background-color: $style_coffee_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_coffee_text;
                            svg {
                                color: $style_coffee_text;
                                fill: $style_coffee_text;
                                stroke: $style_coffee_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_coffee_text;
                            svg {
                                fill: $style_coffee_text;
                                stroke: $style_coffee_text;
                                color: $style_coffee_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_coffee_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_coffee_text;
                            fill: $style_coffee_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_coffee_fr;
                    .hobby_item {
                        color: $style_coffee_text;
                        i {
                            color: $style_coffee_text;
                            svg {
                                fill: $style_coffee_text;
                                stroke: $style_coffee_text;
                                color: $style_coffee_text;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_coffee_text;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_coffee_text;
        }
    }
}

html.template.pdf.tennis,
.html.pdf.tennis {
    background-color: $style_tennis_bg;
    body.tennis {
        background-color: $style_tennis_bg;
    }
}
body.template.tennis,
.body.tennis {
    background-color: $style_tennis_bg;
    color: $style_tennis_text;
    a {
        color: $style_tennis_text;
    }
    p {
        color: $style_tennis_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_tennis_text;
    }

    ul li,
    ol li {
        color: $style_tennis_text;
        &::marker {
            color: $style_tennis_text;
        }
    }
    .page {
        background-color: $style_tennis_bg;
        color: $style_tennis_text;
        p {
            color: $style_tennis_text;
        }
        a {
            color: $style_tennis_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_tennis_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_tennis_blue;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_tennis_text;
                            span {
                                background-color: $style_tennis_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_tennis_text;
                            > span {
                                background-color: $style_tennis_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_tennis_text;
                            svg {
                                color: $style_tennis_text;
                                fill: $style_tennis_text;
                                stroke: $style_tennis_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_tennis_text;
                            svg {
                                fill: $style_tennis_text;
                                stroke: $style_tennis_text;
                                color: $style_tennis_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_tennis_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_tennis_text;
                            fill: $style_tennis_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_tennis_fr;
                    .hobby_item {
                        color: $style_tennis_border;
                        i {
                            color: $style_tennis_border;
                            svg {
                                fill: $style_tennis_border;
                                stroke: $style_tennis_border;
                                color: $style_tennis_border;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_tennis_text;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_tennis_text;
        }
    }
}

html.template.pdf.cream,
.html.pdf.cream {
    background-color: $style_cream_bg;
    body.cream {
        background-color: $style_cream_bg;
    }
}
body.template.cream,
.body.cream {
    background-color: $style_cream_bg;
    color: $style_cream_text;
    a {
        color: $style_cream_text;
    }
    p {
        color: $style_cream_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_cream_text;
    }

    ul li,
    ol li {
        color: $style_cream_text;
        &::marker {
            color: $style_cream_text;
        }
    }
    .page {
        background-color: $style_cream_bg;
        color: $style_cream_text;
        p {
            color: $style_cream_text;
        }
        a {
            color: $style_cream_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_cream_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_cream_fr;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_cream_text;
                            span {
                                background-color: $style_cream_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_cream_text;
                            > span {
                                background-color: $style_cream_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_cream_text;
                            svg {
                                color: $style_cream_text;
                                fill: $style_cream_text;
                                stroke: $style_cream_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_cream_text;
                            svg {
                                fill: $style_cream_text;
                                stroke: $style_cream_text;
                                color: $style_cream_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_cream_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_cream_text;
                            fill: $style_cream_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_cream_border;
                    .hobby_item {
                        color: $style_cream_text;
                        i {
                            color: $style_cream_text;
                            svg {
                                fill: $style_cream_text;
                                stroke: $style_cream_text;
                                color: $style_cream_text;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_cream_text;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_cream_text;
        }
    }
}

html.template.pdf.green,
.html.pdf.green {
    background-color: $style_green_bg;
    body.green {
        background-color: $style_green_bg;
    }
}
body.template.green,
.body.green {
    background-color: $style_green_bg;
    color: $style_green_text;
    a {
        color: $style_green_text;
    }
    p {
        color: $style_green_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_green_text;
    }

    ul li,
    ol li {
        color: $style_green_text;
        &::marker {
            color: $style_green_text;
        }
    }
    .page {
        background-color: $style_green_bg;
        color: $style_green_text;
        p {
            color: $style_green_text;
        }
        a {
            color: $style_green_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_green_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_green_dark;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_green_text;
                            span {
                                background-color: $style_green_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_green_text;
                            > span {
                                background-color: $style_green_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_green_text;
                            svg {
                                color: $style_green_text;
                                fill: $style_green_text;
                                stroke: $style_green_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_green_text;
                            svg {
                                fill: $style_green_text;
                                stroke: $style_green_text;
                                color: $style_green_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_green_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_green_text;
                            fill: $style_green_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_green_border;
                    .hobby_item {
                        color: $style_green_text;
                        i {
                            color: $style_green_text;
                            svg {
                                fill: $style_green_text;
                                stroke: $style_green_text;
                                color: $style_green_text;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_green_border;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_green_text;
        }
    }
}

html.template.pdf.red,
.html.pdf.red {
    background-color: $style_red_bg;
    body.red {
        background-color: $style_red_bg;
    }
}
body.template.red,
.body.red {
    background-color: $style_red_bg;
    color: $style_red_text;
    a {
        color: $style_red_text;
    }
    p {
        color: $style_red_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_red_text;
    }

    ul li,
    ol li {
        color: $style_red_text;
        &::marker {
            color: $style_red_text;
        }
    }
    .page {
        background-color: $style_red_bg;
        color: $style_red_text;
        p {
            color: $style_red_text;
        }
        a {
            color: $style_red_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_red_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_red_dark;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_red_text;
                            span {
                                background-color: $style_red_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_red_text;
                            > span {
                                background-color: $style_red_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_red_text;
                            svg {
                                color: $style_red_text;
                                fill: $style_red_text;
                                stroke: $style_red_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_red_text;
                            svg {
                                fill: $style_red_text;
                                stroke: $style_red_text;
                                color: $style_red_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_red_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_red_text;
                            fill: $style_red_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_red_border;
                    .hobby_item {
                        color: $style_red_text;
                        i {
                            color: $style_red_text;
                            svg {
                                fill: $style_red_text;
                                stroke: $style_red_text;
                                color: $style_red_text;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_red_border;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_red_text;
        }
    }
}

html.template.pdf.blue,
.html.pdf.blue {
    background-color: $style_blue_bg;
    body.blue {
        background-color: $style_blue_bg;
    }
}
body.template.blue,
.body.blue {
    background-color: $style_blue_bg;
    color: $style_blue_text;
    a {
        color: $style_blue_text;
    }
    p {
        color: $style_blue_text;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $style_blue_text;
    }

    ul li,
    ol li {
        color: $style_blue_text;
        &::marker {
            color: $style_blue_text;
        }
    }
    .page {
        background-color: $style_blue_bg;
        color: $style_blue_text;
        p {
            color: $style_blue_text;
        }
        a {
            color: $style_blue_text;
        }
        .widget {
            > h3,
            &.h3 {
                border-color: rgba($style_blue_text, 0.1);
            }
            &.fullname {
                span:last-of-type {
                    color: $style_blue_fr;
                }
            }
            &.skills {
                .skills {
                    .skill_item {
                        .progress {
                            background-color: $style_blue_text;
                            span {
                                background-color: $style_blue_text;
                            }
                        }
                    }
                }
            }
            &.languages {
                .languages {
                    .language_item {
                        .progress {
                            background-color: $style_blue_text;
                            > span {
                                background-color: $style_blue_text;
                            }
                        }
                    }
                }
            }
            &.contacts {
                .contacts {
                    .contact_item {
                        i {
                            border: solid 1.5px $style_blue_text;
                            svg {
                                color: $style_blue_text;
                                fill: $style_blue_text;
                                stroke: $style_blue_text;
                            }
                        }
                    }
                }
            }
            &.socials {
                .socials {
                    .social_item {
                        i {
                            border: solid 1.5px $style_blue_text;
                            svg {
                                fill: $style_blue_text;
                                stroke: $style_blue_text;
                                color: $style_blue_text;
                            }
                        }
                    }
                }
            }
            &.references {
                .references {
                    .reference_item {
                        border-bottom: solid 1px rgba($style_blue_text, 0.1);
                        border-right: none;
                        svg {
                            width: 14px;
                            color: $style_blue_text;
                            fill: $style_blue_text;
                        }
                    }
                }
            }
            &.hobbies {
                .hobbies {
                    background: $style_blue_border;
                    .hobby_item {
                        color: $style_blue_text;
                        i {
                            color: $style_blue_text;
                            svg {
                                fill: $style_blue_text;
                                stroke: $style_blue_text;
                                color: $style_blue_text;
                            }
                        }
                    }
                }
            }
            &.certificates {
                .certificates {
                    .certificate_item {
                        .certificate_year {
                            background: $style_blue_border;
                        }
                    }
                }
            }
        }
        > h3,
        &.h3 {
            border-color: $style_blue_text;
        }
    }
}
