$purple: #8055a2;
$light_purple: #a176c4;
$black: #1e1e1e;
$dark_gray: #545454;
$gray: #444444;
$light_gray: #737373;
$middle_gray: #a6a6a6;
$ultra_light_gray: #d9d9d9;
$blue: #0097b2;
$green: #00bf63;
$red: #ff3131;
$background_color: white;
