$black: #000000;
$dark_gray: #222222;
$gray: #444444;
$light_gray: #797979;
$middle_gray: #e3e3e3;
$ultra_light_gray: #f2f2f2;
$orange: #ca6d18;
$purple: #4e4ea6;
$blue: #4e85a6;
$green: #72a64e;
$red: #bd4d4d;
$yellow: #fff2d2;
$background_color: white;
